<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="D:\D Folder\Payroll_backend\Payroll_SAt28\Easypay-newbackend\Easypay-newbackend\Easypay-newbackend_test\Easypay-newbackend\Easypay-new\Easypay\app-log.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy-MM-dd'.log'" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="RollingFileAppender" />
	</root>
</log4net>
